main{
    height: 80vh;
    background-color: #8C8C8C;
    margin-left: 80px;
    margin-right: 80px;
}
div{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
label{
    background-color:#595959;
    color: white;
    padding: 10vh;
    border-radius: 20px;
    margin-top: 15vh;
    border: 1px solid #8C8C8C;
    margin-bottom: 20px;
    font-size: 15vh;
    font-weight: 400;
    font-weight: bold;
    
}
button{
    background-color: #595959;
    color: white;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #8C8C8C;
    font-size: 32px;
    font-weight: bold;
    font-weight: 400;
    margin-top: 30px;

}

button:hover{
    background-color: aqua;
    cursor: pointer;
}
label:hover{
    background-color: aqua;
    cursor: pointer;
}